#loginArea{
	margin:120px auto 240px auto;
	padding:64px;
	background-color:rgba(0,0,0,0.2);
	width:480px;
	border-radius:0px 0px 16px 16px;
}

#loginArea::before{
	content:"";
	position:absolute;
	top:0px;
	height:4px;
	left:0px;
	right:0px;
	background-color:rgba(0,0,0,0.2);
}

#loginTitle{
	position:relative;
	display:block;
	margin:0px auto;
	width:296px;
	padding-bottom:16px;
	text-align:center;
	color:#bfaf00;
}

#loginTitle::after{
	content:"";
	position:absolute;
	left:0px;
	right:0px;
	bottom:0px;
	height:0px;
	border-top:1px solid rgba(0,0,0,0.5);
	border-bottom:1px solid rgba(255,255,255,0.1);
}

#oldPasswordWrapper , #newPasswordWrapper , #newPasswordRepeatWrapper{
	position:relative;
	display:block;
	margin:32px auto 0px auto;
	width:296px;
}

#newPasswordWrapper , #newPasswordRepeatWrapper{
	margin-top:16px;
}

#oldPasswordWrapper .inputTip , #newPasswordWrapper .inputTip , #newPasswordRepeatWrapper .inputTip{
	position:absolute;
	left:0px;
	top:8px;
	width:80px;
	text-align:right;
}

#oldPasswordWrapper .inputText , #newPasswordWrapper .inputText , #newPasswordRepeatWrapper .inputText{
	margin-left:96px;
	width:168px;
}


#changeSubmit{
	position:relative;
	margin:32px auto 0px auto;
	display:block;
	width:72px;
	height:32px;
}

#changeSubmit::before{
	content:"";
	position:absolute;
	left:0px;
	top:0px;
	bottom:-3px;
	right:0px;
	background-image:url(../media/changePasswordButton.png);
	background-position:top center;
}

#changeSubmit:hover::before{
	background-position:bottom center;
}
