#loginArea{
	margin:120px auto 240px auto;
	padding:64px;
	background-color:rgba(0,0,0,0.2);
	width:480px;
	border-radius:0px 0px 16px 16px;
}

#loginArea::before{
	content:"";
	position:absolute;
	top:0px;
	height:4px;
	left:0px;
	right:0px;
	background-color:rgba(0,0,0,0.2);
}

#loginTitle{
	position:relative;
	display:block;
	margin:0px auto;
	width:296px;
	padding-bottom:16px;
	text-align:center;
	color:#bfaf00;
}

#loginTitle::after{
	content:"";
	position:absolute;
	left:0px;
	right:0px;
	bottom:0px;
	height:0px;
	border-top:1px solid rgba(0,0,0,0.5);
	border-bottom:1px solid rgba(255,255,255,0.1);
}

#loginName{
	position:relative;
	display:block;
	margin:32px auto 0px auto;
	padding-left:40px;
	width:240px;
	background-repeat:no-repeat;
	background-position:8px center;
	background-image:url(../media/icon_user.png);
}

#loginPassword{
	position:relative;
	display:block;
	margin:16px auto 0px auto;
	padding-left:40px;
	width:240px;
	background-repeat:no-repeat;
	background-position:8px center;
	background-image:url(../media/icon_password.png);
}


#loginSubmit{
	position:relative;
	margin:32px auto 0px auto;
	display:block;
	width:72px;
	height:32px;
}

#loginSubmit::before{
	content:"";
	position:absolute;
	left:0px;
	top:0px;
	bottom:-3px;
	right:0px;
	background-image:url(../media/loginButton.png);
	background-position:top center;
}

#loginSubmit:hover::before{
	background-position:bottom center;
}
